<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>
        nataliesearringco website
    </title>
</head>

<body>
<div class="header">
    <img src="/static/images/NataliesEarringCo-Logo-Website.png"
         alt="NataliesEarringCo Logo" class="logo">
    <span class="brand-name">Natalie's Earring Co</span>
</div>

under development :)
<p>Earrings currently in the database (for testing purposes):</p>
{% for name in post_names %}
<p>{{name.name}}</p>
{% endfor %}
</body>
</html>