<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>
        nataliesearringco website
    </title>
</head>

<body>
<div class="header">
    <img src="/static/images/NataliesEarringCo-Logo-Website.png"
         alt="NataliesEarringCo Logo" class="logo">
    <span class="brand-name">Natalie's Earring Co</span>
</div>

under development :)

{% if not logged_in %}
<a href="{{url_for('login')}}">LOGIN (just for Natalie :)</a>
{% else %}
<p>HI NATALIE! YOU ARE LOGGED IN! TO YOUR WEBSITE THAT YOU OWN!</p>
<!--Logout-->
<form action="/logout/" method="post" enctype="multipart/form-data">
    <input type="submit" name="logout" value="Logout"/>
</form>
{% endif %}

<p>Earrings currently in the database (for testing purposes):</p>
{% for name in post_names %}
<p>{{name.name}}</p>
{% endfor %}

{% if logged_in %}
<a href="{{url_for('show_new_post_page')}}">create new post</a>
{% endif %}

<div id="reactEntry">
    Loading ...
  </div>
  <!-- Load JavaScript to show gallery-->
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/bundle.js')
}}"></script>
</body>
</html>